<ion-modal-view id="forgot-password">
	<ion-header-bar class="bar bar-calm bar-header">
		<div class="buttons">
			<button class="button button-clear" ng-click="closeForgotPassword()"><i class="icon ion-ios-close-empty"></i>
			</button>
		</div>
		<h1 class="title">Lupa Password</h1>
	</ion-header-bar>
	<ion-content>
		<form id="forgot-password-form" name="form" novalidate>
			<div class="row">
  				<div class="col">
  					<div class="list">
						<p>Masukkan email Anda, kami akan mengirimkan link untuk mengatur ulang password akun ke email Anda.</p>

						<!--Email-->
						<label class="item item-input item-stacked-label"><span class="input-label">Email<span style="color:red">*</span></span>
							<input type="email" ng-model="registerData.email" placeholder="username@domain.tld" name="email" required>
							<div ng-show="form.$submitted || form.email.$touched">
								<div class="assertive" ng-show="form.email.$error.required">Mohon isi alamat Email Anda yang terdaftar.</div>
								<div class="assertive" ng-show="form.email.$error.email">Mohon isi alamat Email Anda yang valid.</div>
							</div>
						</label>				
					</div>

  				</div>  				
			</div>
			
			<div class="padding">
				<button class="button button-block button-calm" ng-click="forgotPassword()" type="submit">Kirim</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>