<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <!--<ion-nav-back-button></ion-nav-back-button>-->

            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon button-clear ion-navicon">
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="secondary">
                <button menu-toggle="right" class="button button-icon button-clear ion-ios-cart" ng-show="!isCartEmpty">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>




    <ion-side-menu side="right">
        <!-- <ion-pane side-menu-content drag-content="false"> -->
            <div class="bar bar-header bar-calm">
                <h1 class="title title-left">Keranjang Belanja</h1>
                <button menu-close ng-hide="isCartEmpty" ng-click="clearAllCarts()" class="button button-clear text-capitalize">Clear All</button>
                <!-- <button ng-click="clearAllCarts()" class="button button-clear text-capitalize">Clear</button> -->
            </div>

            <ion-content class="has-header has-footer">

                <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshCart()"></ion-refresher>

                <div class="list">
                    <div ng-repeat="product_cart in product_carts" class="item" style="padding:0px">
                        <div class="item item-avatar item-button-right item-text-wrap">
                            <img ng-src="{{product_cart.image}}">
                            <b style="font-size:14px">{{product_cart.title}}</b>
                            <button class="button button-clear button-light button-small"
                              ng-click="deleteCartItem(product_cart.id)">
                              <i class="icon ion-close"></i>
                            </button>
                        </div>

                        <div class="list">

                            <label class="item item-input item-select">
                                <div class="input-label">Jumlah</div>
                                <select data-ng-options="qty_option.name for qty_option in qty_options" data-ng-model="product_cart_qty[product_cart.product_key]" ng-selected="product_cart.qty" ng-change="cartEditQty(product_cart_qty[product_cart.product_key].id,product_cart_size[product_cart.product_key].id,product_cart.id)"></select>
                            </label>

                            <label class="item-input item-select">
                                <span class="input-label">Ukuran</span>
                                 <select data-ng-options="size.name for size in product_cart_sizes[product_cart.product_key]"
                                   data-ng-model="product_cart_size[product_cart.product_key]"
                                   ng-change="cartEditSize(product_cart_qty[product_cart.product_key].id,product_cart_size[product_cart.product_key].id,product_cart.id)"
                                   ng-disabled="product_cart_sizes[product_cart.product_key].length == 1"
                                   ></select>
                            </label>
                            <label class="item item-input">
                                <span class="input-label">Unit Price</span>
                                <div>{{ product_cart.price|currency:"Rp ":0 }}</div>
                            </label>
                            <label class="item item-input">
                                <span class="input-label">Sub Total</span>
                                <div>{{ product_cart.qty*product_cart.price|currency:"Rp ":0 }}</div>
                            </label>
                        </div>

                    </div>
                    <!-- <button menu-close ng-show="!isCartEmpty" class="button button-full button-balanced mg-t-0" ui-sref="app.product_shipping">
                        Ke Pembayaran <i class="icon ion-arrow-right-c"></i>
                    </button> -->
                </div>

            </ion-content>

            <!-- <div  ng-show="!isCartEmpty" class="bar bar-footer bar-stable bar-stackable">
                <div class="title text-left">
                    <i class="icon ion-android-cart" style="margin-right:10px"></i>
                    <b>Total {{ cart_total|currency:"Rp ":0 }}</b>
                </div>
            </div> -->


            <ion-footer-bar ng-show="!isCartEmpty" class="bar bar-stable total">
                <div class="title text-left">
                    <i class="icon ion-android-cart" style="margin-right:10px"></i>
                    <b>Total {{ cart_total|currency:"Rp " }}</b>
                </div>
            </ion-footer-bar>
            <ion-footer-bar ng-if="!isCartEmpty">
                <button menu-close class="bar bar-footer bar-balanced" ui-sref="app.product_shipping({'total':cart_total})">
                    <div class="title" style="top:0">Ke Pembayaran <i class="icon ion-arrow-right-c"></i></div>
                </button>
            </ion-footer-bar>

        <!-- </ion-pane> -->
    </ion-side-menu>





<!-- Menu Left -->
    <ion-side-menu side="left">
        <!-- <ion-pane side-menu-content drag-content="false"> -->
            <ion-content>

                <!-- Logged in Profile -->
                <button menu-close class="item item-calm item-avatar" ng-if="mobile_session" ui-sref="app.profile"
                  style="text-transform:inherit;text-align:left">
                  <!-- <button class="item-content" ui-sref="app.profile" style="text-transform:inherit;text-align:left"> -->
                    <img id="avatar" style="object-fit: cover" ng-if="!profile_picture" ng-src="images/user-default.png">
                    <img id="avatar" style="object-fit: cover" ng-if="profile_picture" ng-src="{{profile_picture}}">

                    <h2>{{full_name}}</h2>
                    <p>{{email}}</p>
                  <!-- </button> -->
                </button>

                <button ng-repeat="menu in global_menus" menu-close class="button button-menu light-bg icon-left button-full ion-ios-{{menu.icon}}-outline"
                  ui-sref-active="active" ui-sref="{{menu.state}}">
                    <!-- <i class="icon ion-ios-{{menu.icon}}-outline"></i> -->
                    <p>{{menu.text}}</p>
                </button>
                <button ng-if="!mobile_session" menu-close class="button button-menu light-bg icon-left button-full ion-ios-locked-outline"
                  ui-sref-active="active" ng-click="login()">
                    <p>Login</p>
                </button>



                <!-- Logged In Menu -->
                <div ng-if="mobile_session">
                    <div class="item item-divider">
                        Your Account
                    </div>

                    <button ng-repeat="menus in user_menus" menu-close class="button button-menu light-bg icon-left button-full ion-ios-{{menus.icon}}-outline"
                      ui-sref-active="active" ui-sref="{{menus.state}}" ng-show="menus.isAndroid">
                        <p>{{menus.text}}</p>
                    </button>
                    <button menu-close class="button button-menu light-bg icon-left button-full ion-log-out"
                      ui-sref-active="active" ng-click="logout()">
                        <p>Logout</p>
                    </button>
                </div>


                <!-- Settings Menu -->
                <!-- <ion-list ng-if="mobile_session">
                    <div class="item item-divider">
                        Settings
                    </div>

                     <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.settings">
                        <i class="icon ion-ios-gear-outline"></i>
                        Account
                    </a>

                    <a menu-close class="item item-icon-left" ui-sref-active="active" ng-click="logout()">
                        <i class="icon ion-log-out"></i>
                        Logout
                    </a>
                </ion-list> -->
            </ion-content>

        <!-- </ion-pane> -->
    </ion-side-menu>
</ion-side-menus>
