<ion-view view-title="Tentang Klinik Estetika" id="home">
	<ion-content lazy-scroll>


		<!-- Syarat Ketentuan -->
		<div class="list about">
			<div class="item wrap item-text-wrap">
				<img class="full-image" image-lazy-src="https://klinikestetika.com/images/about/about_01_new.jpg" image-lazy-loader="dots">
				<br><br>
				<p>
					<strong>BEAUTY OUTSIDE HAPPY INSIDE</strong><br /> Kulit yang sehat dan terawat tentu menjadi dambaan semua orang, oleh karena itu dr. M. Affandi Sp.KK(K) mengembangkan layanan dan produk perawatan kulit dengan standar medis untuk membantu mewujudkan
					keinginan tersebut. Layanan dan produk perawatan yang dikembangkan oleh dr. Mochamad Affandi, Sp.KK(K) tersebut menggunakan formulasi dermatologi terbaik dan disusun secara personal untuk masing – masing pasien.
				</p>
				<p>
					Klinik Estetika berawal dari praktek dokter pribadi dr. M.Affandi, Sp.KK(K) sejak tahun 1988 di Jl. Letnan Jendral S. Parman No. 16 A, Semarang. Berawal dari praktek dokter tersebut, dr. M. Affandi, Sp.KK(K) telah melayani berbagai perawatan kulit dengan
					standar medis yang ketat. Berbekal respon positif dari masyarakat, mendorong beliau untuk memberikan pelayanan yang lebih baik lagi. Oleh karena itu sejak tanggal 6 Maret 1990, praktek dr. M. Affandi, Sp.KK(K) berpindah ketempat yang lebih luas dan
					lebih nyaman di Jl. Kyai Saleh No. 9 Semarang. Mengingat sebagian besar pasien berasal dari luar kota Semarang, Klinik Estetika juga menyediakan fasilitas penginapan bagi pasien-pasiennya.
				</p>
				<div class="row responsive-md">
					<div class="col">
						<img image-lazy-src="https://klinikestetika.com/images/about/about_02_new.jpg" image-lazy-loader="dots">
					</div>
					<div class="col">
						<p>
							Seiring dengan tuntutan perkembangan jaman dan tekad dari kami untuk semakin meningkatkan kualitas pelayanan kepada pasien, maka sejak tahun 2005 kami bertransformasi menjadi Klinik Estetika dr.Affandi, sebuah Klinik Spesialis Kulit yang menerapkan standar
							dermatologi bagi perawatan kulit pasien-pasiennya.
						</p>
						<p>
							Selain inovasi di bidang produk perawatan dan jenis layanan untuk pasien, kami juga terus melakukan inovasi dalam bidang teknologi. Dengan tersedianya website e-commerce Klinik Estetika dr.Affandi maka pasien yang tidak dapat berkunjung secara langsung
							ke Klinik Estetika tetap dapat melakukan konsultasi dengan tim dokter. Pasien yang sudah terdaftar juga bisa melakukan pemesanan produk perawatan melalui website.
						</p>
						<p>
							Klinik Estetika dr.Affandi merupakan klinik kecantikan pertama yang menyediakan layanan konsultasi online secara live. Kami menyediakan dua macam layanan konsultasi online yaitu photo consultation dan live video consultation.
						</p>
						<p>
							Klinik Estetika dr.Affandi juga merupakan klinik kecantikan pertama yang menyediakan layanan e-commerce bagi pasien-pasiennya. Kami memberikan kemudahan untuk para pasien yang ingin melakukan pemesanan krim tetapi tidak dapat datang ke Klinik Estetika.
							Kami juga menyediakan 5 (lima) metode pembayaran yang akan memudahkan pasien dalam menyelesaikan pemesanan.
						</p>
					</div>
				</div>
				<p>
					Dengan makin berkembangnya teknologi kini smartphone menjadi salah satu alat yang dimiliki oleh hampir setiap individu. Dengan ini Klinik Estetika dr.Affandi meluncurkan Mobile Apps yang akan semakin memudahkan pasien yang ingin melakukan konsultasi secara
					online (melalui photo consultation dan live video consultation) atau ingin melakukan pemesanan produk perawatan. Keberadaan mobile apps ini juga menempatkan Klinik Estetika dr.Affandi sebagai klinik kecantikan pertama yang menyediakan layanan melalui
					aplikasi mobile.
				</p>
				<p>
					Kami juga memahami mobilitas pasien yang cukup tinggi, dimana dalam satu hari bisa saja pasien berada di 2 kota yang berbeda dan berkunjung ke Klinik Estetika yang berbeda. Untuk itu kami mengembangkan sistem data base pasien “online real time” di seluruh
					cabang Klinik Estetika. Jadi, bukan menjadi masalah bila pasien berkunjung ke 2 Klinik Estetika yang berbeda dalam satu hari karena data pasien akan selalu update / terbarukan.
				</p>
				<p>
					Dengan menerapkan standar profesionalisme yang tinggi dan standar medis yang ketat, maka sudah menjadi komitmen kami untuk memberikan pelayanan yang terbaik bagi seluruh pasien Klinik Estetika karena kesehatan, keindahan dan kecantikan adalah harta tak
					ternilai.
				</p>
				<p>
					Klinik Estetika dr.Affandi berhasil membuktikan pencapaiannya dengan meraih penghargaan yang diselenggarakan oleh Majalah SWA dalam bidang Indonesia Healthcare Most Reputable Brand dua tahun berturut-turut yaitu pada tahun 2014 dan pada tahun 2015. Penghargaan
					ini diterima oleh dr. Hengky Nur Hidayat selaku CEO Klinik Estetika dr.Affandi.
				</p>
				<h2>Vision 2018</h2>
				<p>To become the most admired skin-care company in Indonesia in delivering happiness experience</p>
				<h2>Mission</h2>
				<p>
					To provide innovative products and its related services for mainstream urban market focus on product leadership and customer intimacy.
				</p>
				<p>
					To preserve legacy market by providing consistent customer intimacy focus on operational excellence
				</p>
				<p>
					To develop budget skin-care product and service focus on affordable yet relevant offerings to sub-urban markets
				</p>
				<h2>Company Value</h2>
				<p>
					<strong>HONEST (JUJUR)</strong><br /> The adjective Honest is perfect for describing someone who tells the truth. If you're always honest, it means you're truthful and sincere no matter what
				</p>
				<p>
					<strong>DISCIPLINE (DISIPLIN)</strong><br /> The noun Discipline is a system of rules of conduct or method of practice / or training to improve strength or self-control / or the trait of being well behaved. When you have discipline, you have self-control.
					When you discipline staff, you are either teaching them to be well-behaved, or you are punishing and correcting them. Discipline must start from ourselves.
				</p>
				<p>
					<strong> RESPONSIBLE (BERTANGGUNG JAWAB)</strong><br /> The adjective Responsible is worthy of or requiring responsibility or trust; or held accountable. When you are a Responsible person, you will always doing things thoroughly, with effort to achieve
					the maximum results.
				</p>
				<p>
					<strong>TEAMWORK (KERJASAMA TIM)</strong><br /> The noun Teamwork is cooperative work done by a team. Each person plays their part to help achieve a larger goal. Often people refer to teamwork as a skill. When you work well in teams, you have great
					teamwork skills.
				</p>
				<p>
					<strong>FOCUS ON CUSTOMERS (FOKUS PADA PELANGGAN)</strong><br /> Focus on customers can be noun or adjective, depend on sentences. Focus is all about finding a center, or the concentration of attention or energy on something. Something here means
					OUR CUSTOMER, as The Most Valuable asset of Klinik Estetika dr. Affandi, Instead of it's employee and all the legacy, which is the things inherited from the founder of the company.
				</p>
				<p>
					<strong>SERVICE EXCELLENCE (KUALITAS PELAYANAN SEMPURNA)</strong><br /> The noun Service Excellence is the total maximum satisfaction performance of duties by our company member, refer to front end staff or back office management, standard of excellent
					service to our external or internal customers. Something excellent is very good, great, or highest quality: this is one of the best compliments around. This is a strong word used mainly for things, people, and actions that are much better than average,
					that's why we put this as one of our Company Value.
				</p>
			</div>
		</div>





		<!-- FAQ -->
		<!-- <div class="card faq">
	  <div class="item item-divider">
	  	FAQ
	  </div>
	  <div class="item item-text-wrap">

	  	<div class="start">
	  		<p class="text-primary">
			  	Berapa biaya perawatan di Klinik Estetika dr. Affandi ? Apakah pasien dikenakan biaya konsultasi?
		  	</p>
		  	<p>
		    	Biaya perawatan di Klinik Estetika dr. Affandi bisa bervariasi, tergantung dari kondisi kulit, keluhan pasien, obat yang diresepkan Dokter serta jenis perawatan/tindakan yang dilakukan. Disarankan kepada pasien untuk berkonsultasi terlebih dahulu ke Dokter, sehingga Dokter bisa melakukan diagnosis dan menentukan terapi yang paling tepat. Pasien akan dikenakan biaya konsultasi saat konsultasi ke Dokter. Biaya konsultasi tersebut sudah termasuk biaya facial.
		  	</p>
	  	</div>

	  	<div class="start">
	  		<p class="text-primary">
				Bagaimana caranya bila saya ingin tahu jadwal praktek Dokter di Klinik Estetika dr. Affandi?
		  	</p>
		  	<p>
		    	Berhubung jadwal praktek Dokter berbeda-beda antar cabang maka silahkan langsung menghubungi cabang Klinik Estetika dr. Affandi yang hendak dikunjungi. Daftar lengkap alamat dan nomor telepon bisa dilihat di website pada bagian ”BRANCHES”.
		  	</p>
	  	</div>

        <div class="start">
            <p class="text-primary">
                Saya ingin menggunakan produk perawatan dari Klinik Estetika dr. Affandi, tetapi tidak ada cabang Klinik Estetika di kota tempat saya tinggal. Bagaimana solusinya?
            </p>
            <p>
                Pasien bisa konsultasi secara online melalui www.klinikestetika.com. Ada 2 cara untuk konsultasi online yaitu melalui ”LIVE VIDEO CONSULTATION” atau ”PHOTO CONSULTATION.
            </p>
        </div>

        <div class="start">
            <p class="text-primary">
                Saya ingin menggunakan produk perawatan dari Klinik Estetika dr. Affandi, tetapi tidak ada cabang Klinik Estetika di kota tempat saya tinggal. Bagaimana solusinya?
            </p>
            <p>
                Pasien bisa konsultasi secara online melalui www.klinikestetika.com. Ada 2 cara untuk konsultasi online yaitu melalui ”LIVE VIDEO CONSULTATION” atau ”PHOTO CONSULTATION.
            </p>
        </div>

	  </div> -->
		</div>
	</ion-content>
</ion-view>
