<ion-view view-title="Video Consultation" id="consultation">
  <ion-content>

    <!-- <div class="list mg-b-0" ng-if="!consultationData" ng-repeat="consultation in consultations | orderBy:'-id'">

      <div class="item item-text-wrap item-thumbnail-left">

        <img ng-show="consultation.image" ng-src="{{consultation.image}}">
        <h2>{{consultation.status}}</h2>
        <p>{{consultation.created_at}}</p>

        <div style="clear:both"></div>
        <button ng-if="consultation.status == 'Tersedia'"
          ng-click="buyPrescription(consultation.id)"
          class="button button-calm button-block button-stable">
          Beli
        </button>

      </div>

    </div> 


    <div ng-if="consultationData">
    </div> -->

  </ion-content>
</ion-view>
