<ion-view view-title="Pembayaran" id="orders" >
	<ion-content id="orders-content">
		<div class="card">
			<div ng-click="openDokuModal()" class="item item-text-wrap">
			<!-- <div ng-click="openDokuModal()" class="item item-avatar item-text-wrap"> -->
				<!-- <img src="https://www.doku.com/themes/default/images/logo.png"> -->
				<h2>Doku</h2>
				<p>untuk pembayaran menggunakan kartu kredit, bank transfer, minimarket, atau Doku Wallet.</p>
			</div>
		</div>
		<div class="card">
			<a ng-click="openClickpayModal()" class="item item-text-wrap">
				<h2>My ShortCart</h2>
				<p>untuk pembayaran menggunakan BCA KlikPay.</p>
			</a>
		</div>
		<!-- <div class="card">
			<a ng-click="openExternal(dokuUrl, '_blank')" class="item item-text-wrap" target="_system">
				<h2>Doku</h2>
				<p>untuk pembayaran menggunakan kartu kredit, bank transfer, minimarket, atau Doku Wallet.</p>
			</a>
		</div>
		<div class="card">
			<a ng-click="openExternal(shortcart, '_blank')" class="item item-text-wrap" target="_system">
				<h2>My ShortCart</h2>
				<p>untuk pembayaran menggunakan BCA KlikPay.</p>
			</a>
		</div> -->
	</ion-content>
</ion-view>
