<ion-view view-title="Terms and Conditions">
	<ion-content id="terms">
		<ion-list>
			<ion-item class="item-text-wrap">
				<p>
					Sebelum mengakses situs/platform ini Anda diwajibkan untuk membaca <strong>SYARAT &amp; KETENTUAN</strong> di bawah ini:
		        </p>
				<ol>
					<li>
						<p>Dengan mengakses dan menggunakan semua fitur layanan yang ada di situs ini, Anda dengan otomatis telah menyetujui semua bentuk syarat &amp; ketentuan yang telah ditentukan oleh Klinik Estetika dr. Affandi.</p>
					</li>
					<li>
		                <p>Semua akses yang menggunakan password bersifat rahasia dan dilindungi/terlindungi hanya untuk pemilik akun. Di luar pemilik akun tidak diizinkan untuk memperoleh/berusaha memperoleh akses ini secara illegal/tidak sah ke dalam situs ini, termasuk area informasi lain yang bersifat pribadi, rahasia dan dilindungi dengan cara apapun tanpa izin khusus yang telah diberikan resmi dari pihak yang berkepentingan. Segala bentuk pelanggaran akan dikenakan sanksi/hukuman sesuai dengan peraturan &amp; undang-undang yang berlaku di Indonesia.</p>
		            </li>
		            <li>
		            	<p>Situs ini dikhususkan bagi orang dewasa. Bagi Anda yang masih di bawah umur diwajibkan untuk memiliki izin/persetujuan dari orang tua/wali yang dapat bertanggungjawab atas tindakan Anda, bertanggungjawab atas biaya yang terkait dengan pembelian produk dan layanan dan penerimaan dan pemahaman mengenai Syarat &amp; Ketentuan yang tertera. Tanpa persetujuan/perizinan tersebut, semua hal yang dilakukan oleh pihak terkait di luar tanggung jawab Klinik Estetika dr. Affandi.</p>
		            </li>
		            <li>
		                <p>Penggunaan Situs dan Layanan: <br />
		                Anda setuju untuk mematuhi setiap ketentuan, pemberitahuan, kebijakan dan instruksi yang terkait dengan penggunaan layanan dan/atau akses ke situs ini sesuai dengan ketentuan Klinik Estetika dr. Affandi, walau tanpa pemberitahuan lebih lanjut.</p>
		            </li>
		            <li>
		                <p>Anda dilarang keras untuk:</p>
		                <ol>
		                    <li>
		                        <p>Memalsukan identitas, memberikan keterangan palsu dan mengakui sebagai orang lain, atau apapun yang bersifat pelanggaran terhadap identitas.</p>
		                    </li>
		                    <li>
		                        <p>Menggunakan situs ini untuk tujuan yang illegal/melanggar hukum dan undang-undang yang berlaku di Indonesia.</p>
		                    </li>
		                    <li>
		                        <p>Berusaha mendapatkan akses secara paksa termasuk mengganggu dan/atau mengacaukan sistem komputer atau jaringan yang berhubungan dengan situs/platform dan layanan ini.</p>
		                    </li>
		                    <li>
		                        <p>Mem-posting, mempromosikan atau mengirimkan materi/konten terlarang melalui situs/dengan mengatasnamakan Klinik Estetika dr. Affandi  tanpa sepengetahuan pihak terkait.</p>
		                    </li>
		                    <li>
		                        <p>Menggunakan, mengunggah, memasukkan perangkat lunak/material yang dicurigai mengandung virus, komponen yang bersifat destruktif, kode berbahaya atau apapun yang serupa yang dapat merusak data dan situs atau mengganggu  akses komputer dan/atau jaringan pelanggan.</p>
		                    </li>
		                </ol>
		            </li>
		            <li>
		                <p>Ketersediaan situs dan layanan: <br>
		                Klinik Estetika dr. Affandi dapat meningkatkan, memodifikasi, menghentikan sementara, menghentikan penyediaan, menghapus, baik secara keseluruhan atau sebagian dari situs atau layanan, tanpa memberikan alasan &amp; pemberitahuan sebelumnya, dan tidak bertanggungjawab jika peningkatan, modifikasi, suspensi atau penghapusan tersebut mencegah Anda mengakses situs atau bagian dari layanan.</p>
		            </li>
		            <li>
		                <p>Pihak Klinik Estetika dr. Affandi  mempunyai hak penuh atas situs ini termasuk:</p>
		                <ol>
		                    <li>
		                        <p>Memantau, menyaring atau mengontrol setiap kegiatan, isi atau materi pada situs dan/atau melalui Layanan. Hal tersebut termasuk/berarti, kami dapat menyelidiki setiap pelanggaran terhadap syarat dan ketentuan yang tercantum di sini dan dapat mengambil tindakan apapun yang dianggap sesuai atau tepat;</p>
		                    </li>
		                    <li>
		                        <p>mencegah atau membatasi akses pelanggan untuk keperluan yang kami anggap melebihi kapasitas;</p>
		                    </li>
		                    <li>
		                        <p>melaporkan kegiatan yang dicurigai sebagai pelanggaran terhadap hukum yang berlaku, undang-undang atau peraturan kepada pihak yang berwenang serta bekerjasama dengan pihak berwenang tersebut; dan/atau</p>
		                    </li>
		                    <li>
		                        <p>meminta informasi dan data dari Anda sehubungan dengan penggunaan Layanan dan/atau akses situs setiap saat, dan sebagai pelaksanaan hak Klinik Estetika dr. Affandi  jika Anda menolak untuk memberikan/mengungkapkan informasi/data tersebut, atau jika Anda memberikan informasi tidak akurat, menyesatkan, penipuan data dan/atau informasi,  atau jika kami memiliki alasan yang cukup mencurigai Anda telah menyediakan informasi tidak akurat, menyesatkan atau penipuan data dan/atau informasi.</p>
		                    </li>
		                </ol>
		            </li>
		            <li>
		                <p>Dengan ini Anda telah menyetujui untuk memberikan izin untuk dapat menggunakan informasi yang telah kami terima termasuk tapi tidak terbatas pada, pertanyaan, ulasan, komentar, dan saran. Pihak Klinik Estetika dr. Affandi akan mungkin, namun tidak diwajibkan untuk mempublikasikan, menghapus atau mengubah informasi yang telah Anda berikan perihal submisi.</p>
		            </li>
		            <li>
		                <p>Anda menyetujui dan mengesahkan untuk setiap informasi yang kami terima dapat dipergunakan untuk keperluan promosi dan pengiriman informasi.</p>
		            </li>
		        </ol>
			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>